* {
  margin: 0;
  padding:0;
  box-sizing:border-box ;
 
}
body {
  font-family: "roboto",sans-serif;
  background-image: url(back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a{
  color:#60bf70 !important;
  text-decoration: none;
  padding: 20px;
  margin-top: 20px;
}

a:hover {
  color: black !important;
}
a.active {
  color: #57d96d !important;
}


